<h1>List of Cities</h1>

<ul>

    <% @cities.each do |city| %>

        <li>

            <%= city.name %>

            (they speak <%= city.language %>)

            <ul>

                <% city.monsters.each do |monster| %>

                    <li>

                        A level <%= monster.level %>
                        <%= monster.name %>
                        has appeared and
                        is wielding a(n)
                        <%= monster.melee_weapon %>
                        and a(n)
                        <%= monster.ranged_weapon %>.

                    </li>

                <% end %>

            </ul>

        </li>

    <% end %>

</ul>
